=fields_for @article do |f|

  .field
  = f.fields_for :subtitles, :child_index => number do |subtitle|
    %p
      = subtitle.label :text, "Subtitle ##{number += 1}"
      = subtitle.text_field :text
