-#-number = 0
=fields_for @article do |f|

  .field
  = f.fields_for :subtitles do |subtitle|
    = subtitle.label :text, "Subtitle"
    = subtitle.text_area(:text, :rows => 3)
    = link_to "remove", "/", html_option = {:class => "remove_subtitle_field"}

