<div class='field' id='<%=number%>'> 
    <label for="article_subtitles_attributes_<%=number%>_text">Subtitle <%=number + 1%> </label> 
    <textarea id="article_subtitles_attributes_<%=number%>_text" name="article[subtitles_attributes][<%=number%>][text]" size="30" type="text" cols=40 rows=3 />
    <a href="" id=remove_field_id_<%=number%> class="remove_subtitle_field">remove</a>
  </div>
