<div class='field' id='<%=number%>'></div> 
 <p> 
    <label for="article_subtitles_attributes_<%=number%>_text">Subtitle</label> 
    <textarea id="article_subtitles_attributes_<%=number%>_text" name="article[subtitles_attributes][<%=number%>][text]" size="30" type="text" cols=40 rows=3 />
    <a href="" class="remove_subtitle_field">remove</a>
 </p> 
