<%= include_javascripts :image_preview %>
<%= javascript_tag do -%>
   $(document).ready(function() {
     createResponder("previewimg");
     createUploadIframe( "../images/new" , "image_image", "new_image", "fileupload");
     });
<% end -%>
<label>Image file</label>

<button type="button" id="fileupload">Upload File</button>
<div id="previewdiv">
  <img id="previewimg"></img>
</div>
