%h1 Listing articles
%table
  %tr
    %th
  - @articles.each do |article|
    %tr
      %td= link_to tag("img", {:id => article.id, :src => size_for_thumb_image_path(article.image)}), article
%br/
= link_to 'New Article', new_article_path
