div.selection_rectangle{

  border:1px dotted white;
  outline-style:dotted;
  outline-width:1px;
  position:absolute;
}

div.selected{
  border:1px solid gray;
  position:absolute;
}
body
{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
