
,div.tagbox{


  position:absolute;
  border:1px solid gray;
}
div.selection_rectangle{

  border:1px dotted white;
  outline-style:dotted;
  outline-width:1px;

  position:absolute;
}

div.selected{
  border:1px solid gray;
  position:absolute;
}
div#subtitle_view{
  margin: 0px;
  color: white;
  background-color: black;
  font-size: 20px;
  text-align: center;
}
div#page_view{
  margin:0px;
  color: white;
  background-color: black;
  text-align: center;
}
a.button{
  border-style: solid;
  border-width: 2px;
  margin-left: 2px;
  padding: 5px;
  color: grey;
}
body
{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

